.footerspace
{
    color: white;
    background-color: #037ef3;
}
.headerTIC
{
    color: white;
    background-color: #037ef3;
    font-size: 48px;
    border-bottom: 1px solid #7e7e7e;
}
.notebook
{
    color: black; 
    background-color: white;
    text-align: center;
    font-size: 60px;
    border-right: 1px solid #7e7e7e;
}

body
{
    padding: 0%;
    margin: 0%;
    
}
.hide
{
    color: transparent; 
    background-color: transparent; 
    font-size: 12px;
}
.salas
{
    color: #7e7e7e; 
    background-color: white; 
    font-size: 15px;
    border-bottom: 1px solid #7e7e7e;
}
.botonsalas
{
    color: #7e7e7e;
    background-color: white; 
    font-size: 15px;
    border: 0px;
    display: inline;
    
}
.botonsalas:hover
{
    color: black;
}
.subtitulos
{
    color: #037ef3;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
}
.AcercaDeTexto
{
    color: #7e7e7e;
    font-size: 24px;
}
/* div
{
    border: 1px solid black;
} */